section{
    height:714px;
    background:url(../img/index/login_register.jpg) no-repeat top center;
}
.footer,.header{
    margin:0;
}
div{
    display: block;
}
div.div_border{
    border:1px solid #E9E9E9;
    position: absolute;
    width: 302px;
    top: 114px;
    right: 0;
    padding: 28px 42px;
    background: #fff;
    margin:100px;
    text-align: center;
}
section div table tr td{
    height:60px;
}
section div table tr td.td_border{
    border-right:1px solid #E9E9E9;
    padding:0 20px;
}
section div table tr td.td_border1{
    border:none;
}
input.type{
    width:100%;
    height:36px;
}
section div table tr td button.but{
    width:100%;
    height:48px;
    background:#442818;
    color:#fff;
    border:0;
}
section div table tr td.td_left{
    text-align:left;
}
section div table tr td.td_right{
    text-align:right;
}
